<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header>
            <h1>MON PROJET SYMFONY</h1>
            <nav>
                <a href="{{ path('public') }}">accueil</a>
                <a href="{{ path('inscription') }}">inscription</a>
                <a href="{{ path('user_index') }}">admin user</a>
                <a href="{{ path('annonce_index') }}">admin annonce</a>
                <a href="{{ path('app_logout') }}">logout</a>
            </nav>
        </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
