{% extends 'base.html.twig' %}

{% block title %}Hello PublicController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    <section>
        <h3>FORMULAIRE D'INSCRIPTION (PAGE INSCRIPTION)</h3>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn">{{ button_label|default('Save') }}</button>
            <p class="">{{ message }}</p>
        {{ form_end(form) }}
    </section>


</div>
{% endblock %}
